@import '../../variables.scss';

.cart-section {

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr)); /* see notes below */
        grid-gap: 1.3rem;
        margin-top: 2rem;
    }

    &__list-wrapper {
        position: relative;
    }

    &__close-btn {
        position: absolute;
        top: .5rem;
        right: .3rem;
        border: none;
        cursor: pointer;
        background-color: transparent;
        transition: all 4s;

        &::before,
        &::after {
            content: "";
            height: 2.5rem;
            display: block;
            width: 3px;
            background-color: $color-primary-white;
            position: absolute;
            top: 0;
            right: 1.4rem;
            transition: all .2s;
        }

        &:hover::before,
        &:hover::after {
            background-color: $color-secondary;
        }

        &::before {
            transform: rotate(135deg);
        }

        &::after {
            transform: rotate(-135deg);
        }
    }

}
